body{
    background-color:bisque;
}
.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
h1{
    text-align: center;
    color:blueviolet;
}
p{
    text-align: center;
    color:black;
}

div{
    margin:auto;
    background-color:rgb(243, 235, 235);
    text-align: center;
}
